@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Lora|Darker+Grotesque&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

/* COLORS */
:root {
  --yellow: #F2B03E;
  --orange: #EE7B2F;
  --red: #D12C3D;
  --lightgreen: rgba(211, 220, 50, .6);
  --darkgreen: #929818;
}


/* TEXT */
a.navbar-brand {
    font-family: 'Montserrat';
}

em {
  text-emphasis: "*"; 
  text-emphasis-position: under;
  text-emphasis-color:var(--red);
  font-style: normal;
}

team {
  font-style: normal;
  color: var(--darkgreen);
}

a.nav-link {
  font-family: "IBM Plex Mono", serif;
  color: #030200;
}

/* GENERAL LINK STYLING */
i {
  color: var(--darkgreen);
}

p > a {
  color: inherit;
  text-decoration: none;
}

p > a:hover {
  background-color: var(--yellow);
}

/* ~~~~~~~~~~~~~~~~~~~~~ */


h1 {
    font-family: "Nanum Pen Script";
    color: var(--darkgreen);
    font-size: 3rem;
  }


h2 {
    font-family: "IBM Plex Mono", serif;
    color: var(--orange);
    letter-spacing: 0;
  }

  h3 {
    font-family: "IBM Plex Mono", serif;
    letter-spacing: 0;
  }

  h4 {
    font-family: "IBM Plex Mono", serif;
    letter-spacing: 0;
  }

  img {
    max-width: 100%; 
    height: auto;
  }

  /* PAPER TITLES ON PUBLICATION LIST */

  .paper-title > a {
    color: black;
    text-decoration: none;
  }
  .paper-title > a:hover {
    background-color: var(--yellow);
  }
/* ~~~~~~~~~~~~~~~~~~~~~ */


/* BACKGROUND COLOR OF THE SITE */
  body {
    background-color: lightgray ;
  }
/* ~~~~~~~~~~~~~~~~~~~~~ */
  
  li, p,
  summary {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 18px;
    line-height: 22px;
  }

  /* BUTTONS */
  button {
    padding-left:0;
    border: none;
  }

  img.logo {
    display: inline-block;
    height: 5em;
  }

  nav.navbar {
    background-color: darkgrey;
    border-bottom: 3mm ridge var(--lightgreen) ;
  }


  /* PUBLICATION LIST TEASER */
  .image-frame {
    border: 2px solid var(--yellow);
    border-radius: 10px;
    margin-top: 10px;
    opacity: 1;
  }

  .image-frame:hover {
    opacity: 80%;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~ */
