@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Lora|Darker+Grotesque&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

/* COLORS */
:root {
  --yellow: #F7B322;
  --orange: #E7511E;
  --pink: #E4136F;
  --lightgreen: #94C428;
  --midgreen: #598E22;
  --darkgreen: #016124;
  --lightblue: #00ABD6;
  --midblue: #018FB5;
  --darkblue: #005F8B;
}


/* TEXT */
a {
  text-decoration: none;
  color: black;
}

em {
  text-decoration: underline; 
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
  text-decoration-color: var(--pink);
  font-style: normal;
}

team {
  font-style: normal;
  color: var(--darkgreen);
}

a.nav-link {
  font-size: x-large;
  color: black;
  font-weight: 600;
}

a.nav-link:hover {
  text-decoration: underline;
  background-color: none;
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
}

.navbar-brand > p {
  font-size: x-large;
}

/* GENERAL LINK STYLING */
i {
  color: var(--lightgreen);
}

p > a {
  color: inherit;
  text-decoration: none;
}


a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~ */


h1 {
    /* font-family: "IBM Plex Mono", serif;
    color: var(--lightgreen);
    letter-spacing: -1;
    font-size: 2.5rem; */
    font-weight: 600;
    font-size: 3rem;
    color: var(--darkblue);
  }


  h2 {
    color: var(--darkblue);
    letter-spacing: 0;
  }

  h3 {
    letter-spacing: 0;
    font-size: larger;
  }

  h4 {
    letter-spacing: 0;
    font-size: large;
  }

  img {
    max-width: 100%; 
    height: auto;
  }

  .authors > a {
    text-decoration: none;
    color: var(--midblue)
  }

  .authors > a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--yellow);
    text-decoration-skip-ink: none;
  }

  /* PAPER TITLES ON PUBLICATION LIST */

  .paper-title > a {
    color: black;
    text-decoration: none;
  }

  .paper-title > a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--yellow);
    text-decoration-skip-ink: none;
  }
/* ~~~~~~~~~~~~~~~~~~~~~ */

/* LIST STYLE ON ABOUT PAGE */
.about-list {
  list-style-type: none;
  padding-left: 0;
}

a.newslink:hover {
  color: black;
}
/* ~~~~~~~~~~~~~~~~~~~~~ */

/* BACKGROUND COLOR OF THE SITE */
  body {
    /* background-color: lightgray ; */
    background-color: white ;
  }
/* ~~~~~~~~~~~~~~~~~~~~~ */
  
  li, p,
  summary, div {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 18px;
    line-height: 22px;
  }

  b {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
  }

  /* BUTTONS */
  button {
    padding-left:0;
    border: none;
  }

  img.logo {
    display: inline-block;
    height: 5em;
  }

  /* nav.navbar {
    background-color: darkgrey;
    background-color: white; 
    border-bottom: 3mm ridge var(--lightblue) ;
  } */


  /* PUBLICATION LIST TEASER */
  .image-frame {
    border: 2px solid var(--yellow);
    border-radius: 10px;
    margin-top: 10px;
    opacity: 1;
  }

  .image-frame:hover {
    filter: drop-shadow(10px 10px 4px var(--yellow));
  }
  /* ~~~~~~~~~~~~~~~~~~~~~ */

  /* NRKP GALLERY */
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 0;
  }
  
  .image-gallery > li {
    height: 300px;
    position: relative;
    list-style-type: none;
    cursor: pointer;
  }
  
  .image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~ */

  /* REMOVE HIGHLIGHT ON CITATIONS */
  .citation {
    pointer-events: none;
  }