<div class="row">
    <div class="col-sm">
        <img src="../assets/photos/{{ person.key }}.jpg"
            alt="Photo of {{ person.first_name }} {{ person.last_name }}" />
    </div>


    <!-- Color generation -->
    {% assign indexNum = include.data %}
    {% assign color = site.data.colors[indexNum].name %}


    <div class="col-sm">
        <em style="text-decoration-color: var( {{ color }} )">
            <h3> {{ person.first_name }} {{ person.last_name }}</h3>
        </em>

        {% assign role = '' %}
        {% if person.role == 'phdstudent' %}
        {% assign role = 'PhD Student' %}
        {% elsif person.role == 'postdoc' %}
        {% assign role = 'Post-Doctoral Researcher' %}
        {% elsif person.role == 'faculty' %}
        {% assign role = 'Professor' %}
        {% elsif person.role == 'msstudent' %}
        {% assign role = 'Masters Student' %}
        {% elsif person.role == 'undergrad' %}
        {% assign role = 'Undergraduate Student' %}
        {% elsif person.role == 'intern' %}
        {% assign role = 'Intern' %}
        {% endif %}
        <p> {{ role }} | {{ person.division}} </p>

        <p> {{ person.keywords }} </p>

        <a href="{{ person.permalink }}"><i class="fa fa-folder-open" style="color: var({{ color }})"></i>
            Publications</a>



        <p>
            <a href="mailto:{{ person.email }}"><i class="fa fa-envelope" style="color: var({{ color }})"></i> {{
                person.email }}</a> <br>
            {% if person.personal-site %}
            <a href="{{person.personal-site}}"><i class="fa fa-github" style="color: var({{ color }})"></i> Personal
                Site</a>
            {% endif %}
        </p>
    </div>
</div>
<br>