<ul class="about-list">
    {% assign sorted_publications = site.publications | sort: 'year' %}
    {% assign sorted_publications = sorted_publications | sort: 'order' %}
    {% for publication in sorted_publications reversed %}
    <li>
        <span class="paper-title">
            <a href="{{ site.baseurl }}{{ publication.url }}"><b>{{ publication.title }}</b></a>
        </span>
        <div style="margin-bottom: 5px">
            {% if publication.type == "thesis" %} {{ publication.thesis_type
            }}, {{ publication.month }} {{ publication.year }} {% else %}
            {{publication.journal-short}}, {{publication.year}} {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>