<ul class="about-list">
    {% assign sorted_publications = site.publications | sort: 'year' %}
    {% assign sorted_publications = sorted_publications | sort: 'order' %}
    {% assign count = 0 %}
    {% for publication in sorted_publications reversed %}
    {% if count < 5 %} <li>
        <span class="paper-title">
            <a href="{{ site.baseurl }}{{ publication.url }}"><b>{{ publication.title }}</b></a>
        </span>
        <div style="margin-bottom: 15px">
            {% if publication.type == "thesis" %} {{ publication.thesis_type
            }}, {{ publication.month }} {{ publication.year }} {% else %}
            {{publication.journal-short}}, {{publication.year}} {% endif %}
        </div>
        </li>
        {% assign count = count | plus: 1 %}
        {% endif %}
        {% endfor %}
</ul>