---
layout: header
---
<div class="container">
    <h1>{{ page.title }}</h1>
    <div class="row">
        <div class="col-sm-7">
            <!-- CONTENT -->
            {{ content }}
            <br>
            <img src="assets/photos/group{{ page.groupimgyear }}.gif" class="img-fluid" alt="Photo of the group"
                style="border-radius: 5px; width: 100%;">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <h2>Recent Publications</h2>

            {% include recent_pub_list.html %}
            <br>

            <h2>Blog & News</h2>
            {% include recent_news_list.html %}
        </div>
    </div>

    <!-- Photo gallery -->
    <br>
    <br>
    <!-- <hr style="color: var(--pink);"> -->
    <h2>Where we are impacts what we do:</h2>
    <h3 style="margin-bottom: 0;">Department of Science & Technology, Linköping University</h3>
    <h3>(campus) Norrköping, Sweden</h3>
    <br>



    <p>The Vis Collective is a research group situated within the Department of Science & Technology at
        Linköping
        University. We are affiliated with the Division of Media & Information Technology as well as the
        Visualiserings
        Center. Geographically we are located on LiU's campus in Norrköping, Sweden. Norrköping is a picturesque city
        about 150km
        south-west of Stockholm. As a former textile city, the old mills have now been converted to university
        offices,
        a research park, and public musuem spaces.
    </p>

    <ul class="image-gallery">
        {% for photo in site.data.gallery limit: 10 %}
        <li>
            <a href="{{ photo.link }}" target="_blank"><img src="assets/nrkp/{{ photo.name }}"
                    alt="{{ photo.text }}" /></a>
        </li>
        {% endfor %}
    </ul>
</div>

<br>
<br>