---
layout: header
---
<div class="container">
    <h1>{{ page.title }}</h1>
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-8">
                    <img src="assets/photos/group{{ page.groupimgyear }}.gif" class="img-fluid" alt="Photo of the group"
                        style="border-radius: 5px;">
                </div>
                <div class="col-sm-4">
                    <!-- CONTENT -->
                    {{ content }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h2>Recent Publications</h2>

            {% include recent_pub_list.html %}
            <br>

            <h2>News</h2>
            {% include recent_news_list.html %}
        </div>
    </div>

    <!-- Photo gallery -->
    <h3>Location</h3>
    <h4>Norrköping, Sweden</h4>

    <p>You can find us in the Norrköping campus of Linköping University. As an old textile city, now the old mills have
        been converted to university offices and a research park.
    </p>

    <ul class="image-gallery">
        {% for photo in site.data.gallery limit: 10 %}
        <li>
            <a href="{{ photo.link }}" target="_blank"><img src="assets/nrkp/{{ photo.name }}"
                    alt="{{ photo.text }}" /></a>
        </li>
        {% endfor %}
    </ul>
</div>

<br>
<br>