---
layout: header
---
<div class="container">
    <h1>{{ page.title }}</h1>
    <div class="row">
        <div class="col-sm-8">

            <!-- CONTENT -->
            {{ content }}

            <!-- heading text -->
            <ul class="image-gallery">
                {% for photo in site.data.gallery limit: 10 %}
                <li>
                    <img src="assets/nrkp/{{ photo.name }}" alt="{{ photo.text }}" />
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-4">
            <h2>Recent Publications</h2>

            {% include recent_pub_list.html %}
            <br>

            <h2>News</h2>
            {% include recent_news_list.html %}
        </div>
    </div>
</div>

<br>
<br>