---
layout: header
---
 
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1 style="margin-bottom: 20px;">News</h1>
            {% for post in site.news reversed %}

            <div class="card">
            <a href="{{post.url | prepend: site.baseurl}}">
                
                <img class="card-img-top" src="{{post.lead-image}}" alt="{{post.alt-text}}" />
                
            <div clas="card-body" style="padding: 20px;">

                <h2 class="card-title" id="{{ post.date | date: " %b %d %Y" }}" >
                    {{ post.title }}
                </h2>
            
                <i class="card-subtitle">Posted: {{ post.date | date: "%b %Y" }}</i>
                <br>
                
            </a>
                <br>
                <div class="post-excerpt">
                    {{ post.content | markdownify | strip_html | truncatewords: 50 }}
                </div>
            </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>