---
layout: header
---

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>News</h1>
            {% for post in site.news reversed %}

            <div>

                <h2 id="{{ post.date | date: " %b %d %Y" }}" style="margin-bottom: 0;">
                    {{ post.title }}
                </h2>

                <i>Posted: {{ post.date | date: "%b %Y" }}</i>
                <br>

                {% if post.lead-image %}
                {% assign alt-text = "Post lead image" %}
                {% if post.lead-image-alt-text %}
                {% assign alt-text=post.lead-image-alt-text %}
                {% endif %}

                <img src="/assets/photos/{{ post.lead-image }}" alt="{{post.alt-text}}" class="img-fluid"
                    style="padding-top: 6;" />
                {% endif %}
                <br>
                <br>
                <div class="post-excerpt">
                    {{ post.content }}
                </div>


            </div>
            <br>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>