---
layout: header
---
<div class="container">
    <h1>{{ page.title }}</h1>
    <h4> {% include author_list.html input_type=page %}</h4>
    <br>
    <div class="row">
        <div class="col-sm-8">

            <article>



                <!-- If we have a large picture, we display it here -->
                {% if page.image_large %}
                <img id="publication-image-large" alt="{{ page.shortname }} screenshot"
                    src="{{ site.baseurl }}/assets/publication-images/{{ page.image_large }}">
                {% endif %}

                <br>
                <br>
                <h3>Abstract</h3>
                {{ page.abstract }}


                <h3>Citation</h3>
                <div class="citation">
                    <p>
                        {% include author_list.html input_type=page %}
                        <span class="paper-title">
                            {% if page.pdf %}
                            <b><a href="{{site.paper_content_url}}{{page.pdf}}">{{page.title}}</a></b>
                            {% else %}
                            <b>{{page.title}}</b>
                            {% endif %}
                        </span><br />
                        {% if page.type == "thesis" %}
                        <span class="advisors">
                            <em>Advisors:</em> {{ page.advisors }}
                        </span><br />
                        {% endif %}

                        <span class="paper-citation">
                            {% if page.type == "thesis" %}
                            {{ page.institution }}, {{ page.thesis_type }}, {{ page.month }} {{ page.year }}.

                            {% else %}
                            {% assign published-where = '' %}
                            {% if page.bib.journal %}
                            {% assign published-where = page.bib.journal %}
                            {% elsif page.bib.booktitle %}
                            {% assign published-where = page.bib.booktitle %}
                            {% elsif page.bib.publisher %}
                            {% assign published-where = page.bib.publisher %}
                            {% endif %}



                            {{ published-where }}, {% if page.bib.volume %} {{ page.bib.volume }}{% endif %}{% if
                            page.bib.number %}({{ page.bib.number }}){% endif %}{% if page.bib.volume or page.bib.issue
                            %}:{%
                            endif %}{% if page.bib.pages %} {{ page.bib.pages }}, {% endif %} {% if page.bib.doi %} <a
                                href="http://dx.doi.org/{{ page.bib.doi }}">doi:{{ page.bib.doi }}</a>, {%endif%}{{
                            page.year
                            }}.
                            {% endif %}

                            {%if page.award %}
                            <br>
                            <span class="award">
                                <span class="fa fa-trophy"></span>&nbsp;{{page.award}}
                            </span>
                            {% endif %}

                            {%if page.note %}
                            <p class="note" style="font-style:italic;">
                                <b>Note:</b> {{page.note}}
                            </p>
                            {% endif %}
                        </span>
                </div>


                <!-- Main Markdown Content -->
                {{ content }}

            </article>
        </div>

        <!-- Side-Bar -->
        <div class="col-sm-4">
            <article>
                <!-- If we don't have a large picture, we display the small one here -->
                {% if page.image_large %}
                {% else %}
                <img id="publication-image" alt="{{ page.shortname }} screenshot" class="paper-image-small-aside"
                    src="{{ site.baseurl }}/assets/images/publications/{{ page.image }}">
                {% endif %}

                {% if page.project %}
                <h3>Software</h3>
                <ul class="project-icon-list">
                    {% for project in site.projects %}
                    {% if project.key == page.project %}
                    <li><a href="{{ site.baseurl }}{{ project.url}}">{{ project.name }}</a><br>{{ project.title }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}

                {% if page.external-project %}
                <h3>Project Website</h3>
                <ul>

                    <li>
                        <i class="fa fa-sitemap"></i> &nbsp;<a class="project-website"
                            href="{{page.external-project}}">{{
                            page.shortname }} Website</a>
                    </li>
                </ul>
                {% endif %}

                <h3>Resources</h3>
                <ul>
                    {% if page.bib.doi %}
                    <li>
                        <i class="fa fa-globe"></i> &nbsp;<a href="http://dx.doi.org/{{ page.bib.doi }}">Publisher</a>
                    </li>
                    {% elsif page.publisherURL %}
                    <li>
                        <i class="fa fa-globe"></i> &nbsp;<a href="{{page.publisherURL}}">Publisher</a>
                    </li>
                    {% endif %}

                    {% if page.pdf %}
                    <li>
                        <i class="fa fa-file-text"></i> &nbsp;<a
                            href="{{site.paper_content_url}}{{ page.pdf }}">Publication
                            (PDF)</a>
                    </li>
                    {% endif %}
                    {% if page.supplement %}
                    <li>
                        <i class="fa fa-folder-open"></i> &nbsp;<a
                            href="{{site.paper_content_url}}{{ page.supplement }}">Supplementary Material</a>
                    </li>
                    {% endif %}
                    {% if page.supplements %}
                    {% for supplement in page.supplements %}
                    <li>
                        {% if supplement.linksym %}
                        <i class="fa fa-folder-open"></i>
                        {% else %}
                        <i class="fa fa-folder-open"></i>
                        {% endif %}
                        &nbsp;<a
                            href="{% if supplement.abslink %}{{ supplement.abslink }}{% else %}{{site.paper_content_url}}{{ supplement.link }}{% endif %}">{{supplement.name}}</a>
                    </li>
                    {% endfor %}
                    {% endif %}

                    {% if page.blog-post %}
                    <li>
                        <i class="fa fa-rss"></i> &nbsp;<a href="{{site.baseurl}}/blog/{{ page.blog-post }}">Blog
                            Post</a>
                    </li>
                    {% endif %}

                    {% if page.preprint_server %}
                    <li>
                        <i class="fa fa-external-link"></i> &nbsp;<a href="{{ page.preprint_server }}">Preprint
                            Server</a>
                    </li>
                    {% endif %}

                    {% if page.code %}
                    <li>
                        <i class="fa  fa-code-fork"></i> &nbsp;<a href="{{ page.code }}">Source Code</a>
                    </li>
                    {% endif %}
                </ul>
            </article>
        </div>
    </div>
</div>