---
layout: header
---

<div class="container">
    <article>

        {% assign publications = site.publications | sort: 'key' %}
        {% assign publications = publications | sort: 'key' %}

        {% for pub in site.publications %}
        {% if pub.type == 'preprint' %}
        {% assign haspreprints = true %}
        {% endif %}
        {% endfor %}

        {% if haspreprints %}
        <h1>Preprints</h1>
        {% for publication in publications reversed %}
        {% if publication.personal %}
        {% elsif publication.type == 'preprint' %}
        <div class="row">
            {% include publication_list_entry.html %}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

        <h1>Peer-Reviewed Journal and Conference Papers </h1>

        {% for publication in publications reversed %}
        {% if publication.personal %}
        {% elsif publication.type == "paper" %}
        <div class="row">
            {% include publication_list_entry.html %}
        </div>
        {% endif %}
        {% endfor %}

        <!-- <h1>Selected Posters</h1>

        {% for publication in publications reversed %}
        {% if publication.personal %}
        {% elsif publication.type == "poster" %}
        <div class="row">
            {% include publication_list_entry.html %}
        </div>
        {% endif %}
        {% endfor %} -->
        <h1>Selected Abstracts</h1>

        {% for publication in publications reversed %}
        {% if publication.personal %}
        {% elsif publication.type == "abstract" %}
        <div class="row">
            {% include publication_list_entry.html %}
        </div>
        {% endif %}
        {% endfor %}
        <br>
        <h1>Dissertations and Theses</h1>

        {% for publication in publications reversed %}
        {% if publication.personal %}
        {% elsif publication.type == "thesis" %}
        <div class="row">
            {% include publication_list_entry.html %}
        </div>
        {% endif %}
        {% endfor %}

        <!-- <h1>Commentaries, Editorials, Book Chapters & Published Abstracts </h1>-->


    </article>
</div>

<br>
<br>
