---
layout: default
---

<div class="container">

    <article>

        {% assign publications = site.publications | sort: 'year' %}
        {% assign publications = publications | sort: 'order' %}

        {% for pub in site.publications %}
        {% if pub.type == 'preprint' %}
        {% assign haspreprints = true %}
        {% endif %}
        {% endfor %}

        {% if haspreprints %}
        <h2>Preprints</h2>
        {% for publication in publications reversed %}
        {% if publication.personal %}
        {% elsif publication.type == 'preprint' %}
        {% include publication_list_entry.html %}
        {% endif %}
        {% endfor %}
        {% endif %}

        <h2>Peer-Reviewed Journal and Conference Papers </h2>

        {% for publication in publications reversed %}
        {% if publication.personal %}
        {% elsif publication.type == "paper" %}
        {% include publication_list_entry.html %}
        {% endif %}
        {% endfor %}


        <h2>Commentary</h2>

        {% for publication in publications reversed %}
        {% if publication.personal %}
        {% elsif publication.type == "commentary" %}
        {% include publication_list_entry.html %}
        {% endif %}
        {% endfor %}

        <h2>Selected Posters</h2>

        {% for publication in publications reversed %}
        {% if publication.personal %}
        {% elsif publication.type == "poster" %}
        {% include publication_list_entry.html %}
        {% endif %}
        {% endfor %}

        <h2>Dissertations and Theses</h2>

        {% for publication in publications reversed %}
        {% if publication.personal %}
        {% elsif publication.type == "thesis" %}
        {% include publication_list_entry.html %}
        {% endif %}
        {% endfor %}

        <!-- <h2>Commentaries, Editorials, Book Chapters & Published Abstracts </h2>-->


    </article>
</div>

<br>
<br>