---
layout: header
---

<div class="container">
    <h1>{{ page.title }}</h1>

    <div class="row">
        <div class="col-lg-7">
            <!-- CONTENT ABOUT US -->
            {{ content }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <!-- FACULTY -->
            {% for person in site.people %}
            {% if person.role == "faculty" %}
            {% include person.html data = 1 %}
            {% endif %}
            {% endfor %}
        </div>
        {% assign count = 2 %}
        {% for person in site.people %}
        <div class="col-lg-6">
            <!-- STUDENTS -->
            {% if person.role != "alumnus" and person.role != "faculty" %}

            {% include person.html data=count %}

            {% endif %}

        </div>
        <br>
        {% assign count = count | plus: 1 %}
        {% endfor %}

    </div>

    <!-- Alumni -->
    <h2> Alumni </h2>
    {% for person in site.people %}
    {% if person.role == "alumnus" %}
    {% if person.graduated != "N" %}
    <strong>{{ person.first_name }} {{ person.last_name }}</strong> -- {{ person.graduated }}
    <br>
    {% elsif person.graduated == "N" %}
    <strong>{{ person.first_name }} {{ person.last_name }}</strong>
    <br>
    {% endif %}
    {% endif %}
    {% endfor %}

</div>

<br>
<br>